@font-face {
    font-family: 'Calibre';
    src: url(calibre-medium-webfont.ttf);
    src: url(../fonts/calibre-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/calibre-regular-webfont.woff) format('woff'), url(../fonts/calibre-regular-webfont.ttf) format('truetype'), url(../fonts/calibre-regular-webfont.svg#calibre_regularregular) format('svg');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Calibre';
    src: url(calibre-medium-webfont.ttf);
    src: url(../fonts/calibre-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/calibre-regular-webfont.woff) format('woff'), url(../fonts/calibre-regular-webfont.ttf) format('truetype'), url(../fonts/calibre-regular-webfont.svg#calibre_regularregular) format('svg');
    font-weight: 100;
    font-style: medium;
  }
  
  
  @font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeue-ExtendedThin.woff2') format('woff2'),
    url('MaisonNeue-ExtendedThin.woff') format('woff'),
    url('MaisonNeue-ExtendedThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }